:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.left {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 40px;
  position: relative;
  margin: 64px;
  min-width: 320px;
  min-height: 50px;
  max-width: 480px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.right {
  background-color: transparent;
  background-image: url("/assets/ResetPassword.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.image {
  object-fit: scale-down;
  width: 156px;
  height: 18px;
  min-width: 0;
  min-height: 0;
  flex-shrink: 0;
}
.h5 {
  height: max-content;
  min-width: min-content;
}
.text {
  color: hsla(var(--ig-gray-700));
  height: max-content;
  min-width: min-content;
}
.input {
  height: max-content;
  min-width: min-content;
}
.button {
  height: max-content;
}
